@import "tailwindcss";
@import "./colors.css";
@import "./tailwind-variables.css";

.shiki,
.shiki span {
  color: var(--shiki-light);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}
@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark);
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }
}

pre.shiki {
  @apply focus-visible:ring-ios-blue/60 relative flex max-h-(--max-height,80svh) flex-col overflow-hidden p-0 outline-none focus-visible:ring-4;

  code {
    @apply overflow-auto py-5 outline-none;
  }

  .line {
    @apply relative inline-block w-full px-5;
  }
}

pre.shiki.has-highlighted {
  .line {
    @apply border-l-2 border-l-transparent;

    &.highlighted {
      @apply bg-ios-blue/10 border-l-ios-blue border-l-2;
    }
  }
}
